.services_container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
   padding: 0 1rem 0 1rem;
}
.services_container-index h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 35px;
}

.services_container > div {
    background: var(--color-bg);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.services_container > div:hover{
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

.services_container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-dark);
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 800;
}
.services_container > div h4 {
    color: var(--color-dark);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
}

.services_container > div h5 {
    color: var(--color-dark);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: medium;
}


.services_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.services_details {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 1rem; 
}

.services_details h4,
.services_details h5,
.services_details p,
.services_details ul {
    width: 100%; 
}


.services_details p {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}





 /* ========MEDIA QUERIES (MEDIUM DEVICES)====== */
 @media screen and (max-width: 1024px) { 
   .services_container{
    grid-template-columns: 1fr;
   }
   .services_container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
   }
   .services_content {
    padding: 1rem;
   }
}

/* ========MEDIA QUERIES (SMALL DEVICES)====== */
@media screen and (max-width: 600px) {
      .services_container {
        gap: 2rem;
      }
      .services_container > div {
        width: 100%;
        padding: 2rem;
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
      }
}
