.about_index {
   margin-top: 12rem;
}

.about_index h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 35px;
}
.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent,
    );
    display: grid;
    place-items: center;
}

.about_me-image {
    border-radius: 3rem;
    margin-left: 5rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about_me-image:hover {
    transform: rotate(0);
}

.text_container {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
.text_container h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color-primary);
    font-weight: 600;
    margin-top: 1rem;
    font-size: 22px;
}

.text_container h3 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-primary);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 1rem;
}
.btn-primary {
    margin-top: 2rem;
}

.linea {
    border-bottom: 1px solid #B2AC88;
    width: 50%;
    margin-top: 3rem;  
    margin-bottom: 7rem; 
    margin-left: auto; 
    margin-right: auto;  
  }
 /* ========MEDIA QUERIES (MEDIUM DEVICES)====== */
@media screen and (max-width: 1024px) { 
    .about_index {
        margin-top: 50%; 
    }

    .about_container {
        grid-template-columns: 1fr; 
        gap: 2rem; 
    }

    .about_me {
        width: 60%; 
        margin: 2rem auto; 
    }

    .text_container h2 {
        font-size: 1.5rem; 
        margin-left: 2rem;
    }

    .text_container h3 {
        font-size: 1.2rem; 
        margin-left: 2rem;
    }

    .about_content p {
        margin: 1rem 0; 
        font-size: 1rem; 
        margin-left: 2rem;
    }
    .btn-primary {
        margin-left: 2rem;
    }
}

/* ========MEDIA QUERIES (SMALL DEVICES)====== */
@media screen and (max-width: 600px) {
    .about_index {
        margin-top: 50%;
    }

    .about_container {
        grid-template-columns: 1fr; 
        gap: 1rem; 
    }

    .about_me {
        width: 70%; 
        margin: 2rem auto; 
    }
    .about_me-image {
        border-radius: 3rem;
        overflow: hidden;
        transform: rotate(10deg);
        transition: var(--transition);
    }
    
    .about_me-image:hover {
        transform: rotate(0);
    }

    .text_container h2 {
        font-size: 1.3rem; 
        margin-top: 1rem; 
        margin-left: 2rem;
    }

    .text_container h3 {
        font-size: 1rem; 
        margin-left: 2rem;
    }

    .about_content p {
        text-align: justify; 
        font-size: 0.9rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .btn-primary {
        margin-left: 2rem;
    }
}