header {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.header_container {
    text-align: center;
    height: 95vh;
    position: relative;
}

.container_logo {
     height: 4rem;
     width: 4rem;
     margin: 0 auto;
     border-radius: 12rem 12rem 0 0;
     margin-bottom: 1rem;
   
 }

 .text-primary {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }

 .text-secondary {
    font-size: medium;
    font-weight: 400;
 }

/*==========CTA========== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*==========HEADER SOCIALS========== */
 .header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 1rem;
    bottom: 7rem;
    color: var(--color-dark);
 }

 .header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: #B2AC88;
 }

 /*==========ME========== */
 .me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    margin: 4rem auto 0 auto;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding:  5rem 1.5rem 1.5rem 1.5rem;
 }

 /*==========TEXT-LIGHT========== */
 .text-light {
    font-size: small;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
 }

 .linea {
    border-bottom: 1px solid #B2AC88;
    width: 50%;
    margin-top: 2rem;  
    margin-bottom: 7rem; 
    margin-left: auto; 
    margin-right: auto;  
  }

  /*==========SCROLL DOWN========== */
  .scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 500;
    font-size: 0.9rem;
    margin-right: 3rem;
    color: var(--color-dark);
  }

  /* ========MEDIA QUEDIES (MEDIUM DEVIDCES)====== */
@media screen and (max-width: 1024px) {
    .header {
        padding-bottom: 5rem;
    }
    .header_container {
        height: 100vh;
    }
    .text-light {
        font-size: 14px;
        padding: 3rem 2rem;
        margin-bottom: 2rem;
    }
}
  

    /* ========MEDIA QUEDIES (SMALL DEVIDCES)====== */
@media screen and (max-width: 600px) {
    .scroll_down {
        display: none;
    }
}